/* general */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  box-sizing: border-box;
}

section {
  flex: 10 10 0;
  padding-bottom: 2em;
  width: 100%;
  box-sizing: border-box;
}

aside {
  display: block;
  flex: 3 3 0;
  margin: 1em;
  box-sizing: border-box;
}

footer {
  background: #333;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* header */
.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  word-wrap: break-word;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul ul {
  display: none;
}

nav ul ul.visible {
  display: block;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a,
nav ul li button {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  background: none;
  border: none;
  cursor: pointer;
}

nav ul li a:hover,
nav ul li button:hover {
  text-decoration: underline;
}

/* main */
#cookies {
  text-align: center;
  font-size: smaller;
  word-wrap: break-word;
}

#content {
  padding: 20px;
  box-sizing: border-box;
}

/* footer */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  text-align: center;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.footer-social a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer-social svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

footer p {
  margin: 5px 0;
  word-wrap: break-word;
}

/* mobile */
@media screen and (max-width: 768px) {
  aside {
    display: none;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
}

/* generics */
h1 {
  font-size: 36px;
  text-align: center;
}

/* components */
.text-center {
  text-align: center;
}

.box {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid black;
  text-align: center;
}
